body {
  background-color: #615d92;
}

img {
  opacity: 1;
}

img:hover {
  opacity: 0.85;
}

/*
Modal Stuff
*/

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: #7c79a9;
  padding: 6rem;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

/*


-*-*-*-*-*-*-* MOVIE -*-*-*-*-*-*
*/
#goodWillHuntingCover {
  width: 6cm;
  border-radius: 25px;
  padding: 1cm;
  margin-left: 16%;
}
#oceansElevenCover {
  width: 6.5cm;
  border-radius: 25px;
  padding: 1cm;
}
#silverLiningsPlaybookCover {
  width: 6cm;
  border-radius: 25px;
  padding: 1cm;
}
#midnightInParisCover {
  width: 6cm;
  border-radius: 25px;
  margin-left: 25%;
  padding: 1cm;
}
#nottingHillCover {
  width: 6cm;
  border-radius: 25px;
  padding: 1cm;
  margin-left: 0.5cm;
}
